In [4]:
def printEven(n):
    num=0;
    sum=0;
    while(num!=n):
        if(num%2==0):
            sum=sum+num;
        num=num+1;
    return sum;
print(printEven(20));

90

# 
Factors list of a given number
test cases --    12---  1 2 3 4 6

In [10]:
def factorslist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end="  ");
        i=i+1;
    return;
factorslist(100)

1  2  4  5  10  20  25  50

# List in python
 Ex : [item1,item2,item3,item4]
 int,char,float,string

In [15]:
list1=[1,2,3,4,5];
print(list1);
print(list1[4])

[1, 2, 3, 4, 5]
5

##### for<variablename>in<seq>:
         <statements>

In [18]:
list2=["akhil","anil","sai","akash"]
for x in list2:
    print(x,end=" ")

akhil anil sai akash

In [34]:
list1=[1,2,3,4,5,6,7]
for x in list1:
    print(x,end=" ") 
print()
print(list1[5])
print(list1[3:7])
print(list1[0:7])
print(list1[:5])

1 2 3 4 5 6 7
6
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5]

In [59]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end=" ")
print()
print(list1[1:-1])
print(list1[2:-2])
print(list1[::2])
print(list1[::3])
print(list1[::4])
print(list1[::-2])
print(list1[::-5])
print(list1[::-10])

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
[10, 5]
[10]

# list with range() function
range(number)    
0 to number